version: "3.9"

services:
  backend:
    build: ./master-server
    ports:
      - "8081:80"
    networks:
      - app-network
    environment:
      - LOG_LEVEL=info   # master has no env for now
      - PORT=80 
    restart: unless-stopped

  frontend:
    build:
      context: ./nebula-watcher
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL:-http://16.112.43.203}
        - VITE_WS_URL=${VITE_WS_URL:-ws://16.112.43.203/ws}
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
